[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gym = "*"
tensorflow = "==2.0.0"
numpy = "*"
tensorboard = "==2.0.0"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
